// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.text-formatted {
  @extend %text-container;
}

.text-small {
  font-size: 0.6rem;
  line-height: 0.9rem;
}
